<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lost in the Sauce</title>
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/menuicon.css">
    <link rel="stylesheet" href="/blog/threads/template/thread.css">
    <link rel="stylesheet" href="https://devoffline.com/cdn/css/scrollbar.css">
    <link rel="icon" href="/images/favicon.png">
</head>
<body>
    <div onclick="toggleNav();" class="menu-icon"></div>
    <header>
        <nav>
            <ul class="nav-list">
                <li class="nav-link">
                    <a onclick="mobileLinks();" href="/">Home</a>
                </li>
                <li class="nav-link">
                    <a onclick="mobileLinks();" class="current" href="/blog">Blog</a>
                </li>
                <div class="nav-brand active">
                    <img src="/images/logo.png" alt="">
                </div>
                <li class="nav-link">
                    <a onclick="mobileLinks();" href="/posts">Posts</a>
                </li>
                <li class="nav-link">
                    <a onclick="mobileLinks();" href="/#contact">Contact</a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        
    </main>
    <div class="contact" id="contact">
        <ul class="footer-list">
            <li class="footer-link">
                <a class="current" href="">Home</a>
            </li>
            <span>&bull;</span>
            <li class="footer-link">
                <a href="">Blog</a>
            </li>
            <span>&bull;</span>
            <li class="footer-link">
                <a href="">Posts</a>
            </li>
            <span>&bull;</span>
            <li class="footer-link">
                <a href="">Contact</a>
            </li>
        </ul>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/scripts.js"></script>
</body>
</html>