<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lost in the Sauce</title>
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/menuicon.css">
    <link rel="stylesheet" href="/blog/threads/template/thread.css">
    <link rel="stylesheet" href="https://devoffline.com/cdn/css/scrollbar.css">
    <link rel="icon" href="/images/favicon.png">
</head>
<body>
    <div onclick="toggleNav();" class="menu-icon"></div>
    <header>
        <nav>
            <ul class="nav-list">
                <li class="nav-link">
                    <a onclick="mobileLinks();" href="/">Home</a>
                </li>
                <li class="nav-link">
                    <a onclick="mobileLinks();" class="current" href="/blog">Blog</a>
                </li>
                <div class="nav-brand active">
                    <img src="/images/logo.png" alt="">
                </div>
                <li class="nav-link">
                    <a onclick="mobileLinks();" href="/posts">Posts</a>
                </li>
                <li class="nav-link">
                    <a onclick="mobileLinks();" href="/#contact">Contact</a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="container">
            <div class="thread">
                <div class="thread-title">
                    <h1>Thread Title</h1>
                    <h4>Author &bull; Date</h4>
                </div>
                <div class="thread-body">
                    <div class="thread-section">
                        <h2>Headers</h2>
                        <p>There are three types of headers. Header, Subheader, and Subsubheader. Each type will get increasingly smaller with each one. Header as a title for a section, subheader as a title for a section inside of a section, and subsubheader as a title for a section inside of a section inside of a section. It gets confusing, so we'll stop at three headers.</p>
                        <p>Below are the three types of headers/titles for a blog thread.</p>
                        <ul>
                            <li><h2>Header</h2></li>
                            <li><h3>Subheader</h3></li>
                            <li><h4>Subsubheader</h4></li>
                        </ul>
                    </div>
                    <div class="thread-section">
                        <h2>Images and Links</h2>
                        <p>You can add images to your thread, they will all be the same width (80%). Although the aspect ratio will not change, the image may be cropped.</p>
                        <img src="/images/placeholder.png" alt="Here is the placeholder image, made specifically for this template thread.">
                        <p>You can make lists with &lt;ol&gt; or &lt;ul&gt;. Links are also supported with a custom color.</p>
                        <ol>
                            <li><a href="#">Link 1</a></li>
                            <li><a href="#">Link 2</a></li>
                            <li><a href="#">Link 3</a></li>
                        </ol>
                    </div>
                </div>
                <div class="thread-footer">
                    <h4>Author &bull; Date</h4>
                </div>
            </div>
        </div>
    </main>
    <div class="contact" id="contact">
        <ul class="footer-list">
            <li class="footer-link">
                <a class="current" href="">Home</a>
            </li>
            <span>&bull;</span>
            <li class="footer-link">
                <a href="">Blog</a>
            </li>
            <span>&bull;</span>
            <li class="footer-link">
                <a href="">Posts</a>
            </li>
            <span>&bull;</span>
            <li class="footer-link">
                <a href="">Contact</a>
            </li>
        </ul>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/scripts.js"></script>
</body>
</html>